/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.successfull-snackbar {
  background: forestgreen;
  color: aliceblue;
}

.successfull-snackbar button {
  color: aliceblue;
}

.error-snackbar {
  background: red;
  color: aliceblue;
}

.error-snackbar button {
  color: aliceblue;
}
